body {
  background: url('images/brand-bg.jpg');
}

nav {
  padding: 15px 0;
}

input {
  margin-bottom: 20px;
}

.treasure-photo {
  text-align: center;
}

.treasure-photo-detail,
.treasure-table {
  padding-left: 50px;
  display: table-cell;
  vertical-align: middle;
}

.panel-title {
  font-size: 20px;
}

th, td {
  padding: 5px 10px;
  font-size: 18px;
}

th > img {
  padding-right: 5px;
}

footer {
  margin: 50px 100px 0 100px;
  border-top: 1px solid #ccc;
  text-align: center;
  color: #9d9d9d;
}
